.icon.tab_index.tab_index_sup
  %ul.tab_nav
    %li
      = link_to "<span class='imskin'>好友的言语</span>", jia_talk_index_path, :class=>'imskin'
    %li.current
      = link_to "<span class='imskin'>我的自言自语</span>", my_talk_jia_talk_path, :class=>'imskin'
    %li
      = link_to "<span class='imskin'>大家的言语</span>", our_talk_jia_talk_path, :class=>'imskin'

