.main
  .netfriend_msgboard.broadcast
    %h4.border_deep
      城市最新磨叽－－杭州
      %a#changgecity{ :href => "javascript:;", :title => "\345\210\207\346\215\242" }
        [切换]
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=14910263" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/4/1456/14910263.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_14910263.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=14910263" }
            乱云飞度也从容
        .broadlist_content
          说了又不听，听了又不懂，懂了又不做，做了又做错，错了又不改，改了又不服，不服又不说——他说这是我 哈哈 斑斑的签名 盗用
          %img{ :smilieid => "219", :src => "http://i3.dukuai.com/misc/forum/smilies/h200148.gif", :border => "0", :alt => "" }
          %span.c_weak
            2009-10-28 14:42
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=230000004001" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=230000004001&amp;uid=14910263" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=143706" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/1/72/143706.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_143706.show_send_mail.c_auxi
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=143706" }
            texwood
          %em.icon.icon_wap.bywarp
            %a{ :href => "http://www.19lou.com/wap", :target => "_blank" }
              通过掌上19楼
          发表磨叽
        .broadlist_content
          开会都是老生长谈
          %span.c_weak
            2009-10-28 14:41
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=180000003676" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=180000003676&amp;uid=143706" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11991213" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1996/11991213.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_11991213.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11991213" }
            hlb528720
        .broadlist_content
          做梦车子能在空中开了，那么顺畅啊
          %span.c_weak
            2009-10-28 14:41
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=210000003344" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=210000003344&amp;uid=11991213" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10562798" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1282/10562798.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_10562798.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10562798" }
            愿愿
        .broadlist_content
          梁静茹来啦！！！
          %span.c_weak
            2009-10-28 14:40
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=140000004279" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=140000004279&amp;uid=10562798" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=155314" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/1/78/155314.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_155314.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=155314" }
            我爱馨儿
        .broadlist_content
          %img{ :smilieid => "219", :src => "http://i3.dukuai.com/misc/forum/smilies/h200148.gif", :border => "0", :alt => "" }
          %span.c_weak
            2009-10-28 14:40
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=100000003338" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=100000003338&amp;uid=155314" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10131277" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1066/10131277.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_10131277.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10131277" }
            翠思流泻
        .broadlist_content
          没空磨叽
          %span.c_weak
            2009-10-28 14:39
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=130000003589" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=130000003589&amp;uid=10131277" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11823250" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1912/11823250.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_11823250.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11823250" }
            杭乐山
        .broadlist_content
          天气不错，还磨叽什么。
          %span.c_weak
            2009-10-28 14:38
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=100000003337" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=100000003337&amp;uid=11823250" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10380731" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1191/10380731.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_10380731.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10380731" }
            moonmother
        .broadlist_content
          文晖路今天大堵车，还好今天骑车上班
          %span.c_weak
            2009-10-28 14:38
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=110000004143" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=110000004143&amp;uid=10380731" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11656949" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1829/11656949.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_11656949.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11656949" }
            灵枢素问
        .broadlist_content
          吼吼~~
          %img{ :smilieid => "251", :src => "http://i3.dukuai.com/misc/forum/smilies/h203348.gif", :border => "0", :alt => "" }
          %span.c_weak
            2009-10-28 14:38
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=50000003702" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=50000003702&amp;uid=11656949" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15548346" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/4/1775/15548346.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_15548346.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15548346" }
            duotao
        .broadlist_content
          得到地对地导弹地对地导弹地对地导弹
          %span.c_weak
            2009-10-28 14:38
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=180000003675" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=180000003675&amp;uid=15548346" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=111440" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/1/56/111440.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_111440.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=111440" }
            可爱鱼鱼
        .broadlist_content
          何时能海阔天空，一路是蓝呢？
          %span.c_weak
            2009-10-28 14:38
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=80000003623" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=80000003623&amp;uid=111440" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15548346" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/4/1775/15548346.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_15548346.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15548346" }
            duotao
        .broadlist_content
          随时圣随时圣生生世世生生世世生生世世生生世世
          %span.c_weak
            2009-10-28 14:38
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=180000003674" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=180000003674&amp;uid=15548346" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10520786" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1261/10520786.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_10520786.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10520786" }
            aiyaya8856
        .broadlist_content
          这日子过的空虚呀。
          %span.c_weak
            2009-10-28 14:37
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=20000003740" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=20000003740&amp;uid=10520786" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10573852" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1287/10573852.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_10573852.show_send_mail.c_auxi
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=10573852" }
            金官
          %em.icon.icon_wap.bywarp
            %a{ :href => "http://www.19lou.com/wap", :target => "_blank" }
              通过掌上19楼
          发表磨叽
        .broadlist_content
          千岛湖不错呀
          %span.c_weak
            2009-10-28 14:37
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=40000003909" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=40000003909&amp;uid=10573852" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=13605375" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/4/803/13605375.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_13605375.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=13605375" }
            木可糕米
        .broadlist_content
          不能窝着
          %span.c_weak
            2009-10-28 14:37
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=150000003735" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=150000003735&amp;uid=13605375" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11666810" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1834/11666810.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_11666810.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11666810" }
            elainana
        .broadlist_content
          磨叽磨叽磨叽磨叽~~~~这个就是我的磨叽~
          %span.c_weak
            2009-10-28 14:37
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=20000003739" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=20000003739&amp;uid=11666810" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11359869" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/3/1680/11359869.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_11359869.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11359869" }
            emilyfei
        .broadlist_content
          好想去旅游
          %span.c_weak
            2009-10-28 14:36
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=210000003343" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=210000003343&amp;uid=11359869" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15058316" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/4/1530/15058316.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_15058316.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15058316" }
            citicsf
          回复了
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/show&amp;nmId=200000004401&amp;uid=12375652" }
            大约成熟后的磨叽
        .broadlist_content
          表哭表哭，有事情说。
          %span.c_weak
            2009-10-28 14:36
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=200000004401" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=200000004401&amp;uid=15058316" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=315146" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/1/158/315146.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_315146.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=315146" }
            walls_yu
        .broadlist_content
          说点啥呢,今天早出门,反而堵车,迟到.....
          %span.c_weak
            2009-10-28 14:36
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=20000003738" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=20000003738&amp;uid=315146" }
            转发(0)
    .dy_ulist.broad_list
      .dy_user
        %a.uface_small{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15037812" }
          %span
            %img{ :src => "http://avatar.19lou.com/m/4/1519/15037812.jpg", :height => "50", :alt => "", :width => "50" }
      .dy_main
        %h5#online_15037812.show_send_mail.c_auxi.icon_member
          %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=15037812" }
            註定1987
        .broadlist_content
          让别人墨迹去，偶就不墨迹了
          %span.c_weak
            2009-10-28 14:36
        .board_option
          %a{ :href => "http://app.19lou.com/newsmonger/?q=common/reply&amp;nmId=120000003266" }
            回复(0)
          %span.icon
            |
          %a{ :href => "http://app.19lou.com/newsmonger/?q=profile/forward&amp;nm_id=120000003266&amp;uid=15037812" }
            转发(0)
  #pager.pages.c_weak
    .pages.c_weak
      %span
        上一页
      %span
        1
      %a{ :href => "http://app.19lou.com/newsmonger/?q=home/city&amp;provinceId=31&amp;cityId=383&amp;page=2" }
        2
      %a{ :href => "http://app.19lou.com/newsmonger/?q=home/city&amp;provinceId=31&amp;cityId=383&amp;page=3" }
        3
      %a{ :href => "http://app.19lou.com/newsmonger/?q=home/city&amp;provinceId=31&amp;cityId=383&amp;page=4" }
        4
      %a{ :href => "http://app.19lou.com/newsmonger/?q=home/city&amp;provinceId=31&amp;cityId=383&amp;page=5" }
        5
      %a{ :href => "http://app.19lou.com/newsmonger/?q=home/city&amp;provinceId=31&amp;cityId=383&amp;page=2" }
        下一页
