.main
  %input#toekn{ :name => "token", :type => "hidden", :value => "86be24d6:tirvzrvrzb" }
  .my_collection
    %table.datasheet
      %thead
        %tr.c_auxi
          %th.w_410.border_tint
            %span.border_deep
              标题
          %td.w_160.border_tint
            %span.border_deep
              版块
          %td.w_160.border_tint
            %span.border_deep
              最后回复
          %td.w_100.border_tint
            %span.border_deep
              回复/浏览
      %tbody.border_deep
        %tr
          %th
            %label
              %input.checkbox{ :name => "deleteTids[]", :type => "checkbox", :value => "16136763" }
            %a{ :href => "http://www.19lou.com/forum-63-thread-16136763-1-1.html", :target => "_blank" }
              ipod touch　出掉　已卖
          %td
            %a{ :href => "http://www.19lou.com/forumdisplay.php?fid=63", :target => "_blank" }
              数码区
          %td.c_weak
            %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=12393549", :title => "" }
              新郎倌
            %br
            2009-03-11 08:43
          %td.c_weak
            9/588
        %tr
          %th
            %label
              %input.checkbox{ :name => "deleteTids[]", :type => "checkbox", :value => "23145333" }
            %a{ :href => "http://www.19lou.com/forum-63-thread-23145333-1-1.html", :target => "_blank" }
              全新台电MP4 C300 VE 4GB 180 转让
          %td
            %a{ :href => "http://www.19lou.com/forumdisplay.php?fid=63", :target => "_blank" }
              数码区
          %td.c_weak
            %a{ :href => "http://jia.19lou.com/?q=user/profile&amp;do=profile&amp;uid=11488759", :title => "" }
              soalboy
            %br
            2009-10-28 15:43
          %td.c_weak
            7/210
      %tfoot
        %tr
          %td
            %label
              %input#selectAll{ :name => "selectAll", :type => "checkbox" }
              全选
            %label
              %a#delete{ :href => "#" }
                删除收藏
          %td{ :colspan => "3" }
