.main
  .my_reply
    %table.datasheet
      %thead
        %tr.c_auxi
          %th.w_450.border_tint
            %span.border_deep
              标题
          %td.w_160.border_tint
            %span.border_deep
              版块
          %td.w_160.border_tint
            %span.border_deep
              最新发表
          %td.w_60.border_tint
            %span.border_deep
              状态
      %tbody.border_deep
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=5&amp;tid=19275002&amp;page=1#pid284413503", :title => "\347\234\213\347\234\213\346\234\211\346\262\241\346\234\211\345\220\214\345\271\264\345\220\214\346\234\210\347\224\237\346\227\245\347\232\204\346\234\211\347\274\230\344\272\272", :target => "_blank" }
              看看有没有同年同月生日的有缘人
          %td
            %a{ :href => "http://www.19lou.com/forum-5-1.html", :title => "", :target => "_blank" }
              拉风大本营
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=5&amp;tid=19275002&amp;goto=lastpost#lastpost", :title => "" }
              leyea518
            %br
            2009-09-10 16:29
          %td.c_weak
            正常
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=16&amp;tid=16179769&amp;page=2#pid200221354", :title => "\344\270\200\345\243\260\342\200\234\346\213\222\347\273\235\342\200\235\350\221\254\351\200\201\344\272\206\345\256\235\345\256\235\357\274\201\357\274\201\357\274\201\357\274\201", :target => "_blank" }
              一声“拒绝”葬送了宝宝！！！！
          %td
            %a{ :href => "http://www.19lou.com/forum-16-1.html", :title => "", :target => "_blank" }
              孩爸孩妈聊天室
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=16&amp;tid=16179769&amp;goto=lastpost#lastpost", :title => "" }
              亲亲泡泡鱼
            %br
            2009-08-19 16:58
          %td.c_weak
            正常
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=63&amp;tid=16135109&amp;page=1#pid199508724", :title => "\350\217\234\351\270\237\350\257\267\346\225\231", :target => "_blank" }
              菜鸟请教
          %td
            %a{ :href => "http://www.19lou.com/forum-63-1.html", :title => "", :target => "_blank" }
              数码区
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=63&amp;tid=16135109&amp;goto=lastpost#lastpost", :title => "" }
              ntyangxd
            %br
            2009-03-09 16:44
          %td.c_weak
            正常
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=63&amp;tid=16072075&amp;page=1#pid198596575", :title => "\345\207\272HTC3470(\345\244\232\346\231\256\350\276\276P660),\346\215\242\346\234\272\344\271\237\345\217\257\344\273\245(\345\267\262\345\207\272,\344\271\260\344\270\273\346\230\257\350\200\201\347\211\214\347\216\251\345\256\266!!)", :target => "_blank" }
              出HTC3470(多普达P660),换机也可以(已 ...
          %td
            %a{ :href => "http://www.19lou.com/forum-63-1.html", :title => "", :target => "_blank" }
              数码区
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=63&amp;tid=16072075&amp;goto=lastpost#lastpost", :title => "" }
              吾爱莲莲
            %br
            2009-03-06 19:02
          %td.c_weak
            正常
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=63&amp;tid=16066902&amp;page=1#pid198571768", :title => "\345\207\272\345\217\260\344\277\235\345\256\2109\346\226\260\347\232\204IP TOUCH2\357\274\21016G\357\274\211\345\267\262\345\207\272\357\274\201\357\274\201\357\274\201", :target => "_blank" }
              出台保守9新的IP TOUCH2（16G）已出！！！
          %td
            %a{ :href => "http://www.19lou.com/forum-63-1.html", :title => "", :target => "_blank" }
              数码区
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=63&amp;tid=16066902&amp;goto=lastpost#lastpost", :title => "" }
              kendou
            %br
            2009-03-09 13:55
          %td.c_weak
            正常
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=63&amp;tid=16037227&amp;page=1#pid198397911", :title => "\350\266\205\346\274\202\344\272\256\350\223\235\350\211\262PSP1000", :target => "_blank" }
              超漂亮蓝色PSP1000
          %td
            %a{ :href => "http://www.19lou.com/forum-63-1.html", :title => "", :target => "_blank" }
              数码区
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=63&amp;tid=16037227&amp;goto=lastpost#lastpost", :title => "" }
              小女子PSP
            %br
            2009-03-06 10:05
          %td.c_weak
            正常
        %tr
          %th
            %a{ :href => "http://www.19lou.com/viewthread.php?fid=269&amp;tid=16050821&amp;page=6#pid198275879", :title => "\345\233\236\345\244\215 #3 konkin \347\232\204\345\270\226\345\255\220", :target => "_blank" }
              回复 #3 konkin 的帖子
          %td
            %a{ :href => "http://www.19lou.com/forum-269-1.html", :title => "", :target => "_blank" }
              草根消息
          %td.c_weak
            %a{ :href => "http://www.19lou.com/redirect.php?fid=269&amp;tid=16050821&amp;goto=lastpost#lastpost", :title => "" }
              思无忌惮
            %br
            2009-03-10 22:48
          %td.c_weak
            正常
