.Correct,.Wrong,.Exp{display:block;height:18px;line-height:17px;padding:0 5px 0 2em;}
.Correct{background:#e6ffe6 url(/images/post/register/register.png) 5px 2px no-repeat;border:1px dashed #00a8ff;color:#008800;}
.Wrong{background:#fff2e9 url(/images/post/register/register.png) 5px -79px no-repeat;border:1px dashed #ff6600;color:#8b2b34;}
.Exp{background:#e2f5ff url(/images/post/register/register.png) 5px -134px no-repeat;border:1px dashed #00a8ff;color:#006699;}
.regItem { padding-bottom:2em }
.regItem dl { padding:.2em 0; margin:0}
.regItem dt{  margin:0;width:20%; float:left; padding-right:2em;text-align:right; font-size:12px; }
.regItem dd{ width:23%; float:left;padding-right:2em; margin:0}
.regItem dd.regTips { width:48%;text-align:left;height:30px;padding-right:0; margin:0}
.p10 td{padding:.5em 1em;}