= stylesheet_link_tag 'pop-reg'

%div{:style=>'margin-bottom:8px;'}
  #breadCrumb.cc.f16.b{:style=>'color:#333333'} 注册
  %div
    .y-bg
    .y-bg2
    .y-bg3
    .y-bg4.f16.b{:style=>'line-height:2;padding:30px 0;'}
      %table{:width=>'100%', :cellspacing=>'0', :cellpadding=>'0', :align=>'center'}
        %tr{:align=>'center'}
          %td 恭喜您！亲爱的会员，您已经注册成功。
        %tr{:align=>'center'}
          %td
            = link_to '现在去完善资料 ', '/', :class=>'btn'
            = link_to '先去逛逛', '/', :class=>'f12 fn'
    .y-bg3
    .y-bg2
    .y-bg
