.main
  %form#modPwdForm{ :name => "modPwdForm", :method => "post", :action => "" }
    .password
      %table.border_deep
        %tbody
          %tr
            %th.c_auxi
              原密码：
            %td
              %label.txt
                %input#oldPasswd{ :name => "oldPasswd", :type => "password", :value => "" }
                %span#msgOldPasswd
          %tr
            %th.c_auxi
              新密码：
            %td
              %label.txt
                %input#newPasswd{ :name => "newPasswd", :type => "password", :onkeyup => "ratepasswd()" }
                %span#msgNewPasswd
              %span#pw_strength
                %span
                  密码强度：
                  %strong
                %cite.bgline
                  %cite.nline
          %tr
            %th.c_auxi
              确认密码：
            %td
              %label.txt
                %input#passwdAgain{ :name => "passwdAgain", :type => "password", :value => "" }
                %span#msgPasswdAgain
      %span.sumbit
        %span
          %button#saveSubmit
            保存设置
      .tips
        %h5
          帐户安全小提示
        %ul
          %li
            %span.c_auxi
              你上次登录的时间是:
            2009-10-28 13:20:59
          %li
            %span.c_auxi
              你上次登录的IP是:
            218.108.98.34 --- 浙江省杭州市 - 网通
