.main
  .status
    %table.border_deep
      %tbody
        %tr
          %th.c_auxi
            用户组：
          %td
            不动产：单身公寓
            %span.hou_lv1{ :title => "\344\270\215\345\212\250\344\272\247\357\274\232\345\215\225\350\272\253\345\205\254\345\257\223" }
              %img{ :src => "http://i3.dukuai.com/misc/forum/img/star_level1.gif", :alt => "Rank: 1" }
        %tr
          %th.c_auxi
            发帖等级数：
          %td
            Beginner
            %span.level{ :title => "Beginner" }
              %img{ :src => "http://i3.dukuai.com/misc/forum/img/star_level1.gif", :alt => "Rank: 1" }
        %tr
          %th.c_auxi
            阅读权限：
          %td
            10
        %tr
          %th.c_auxi
            积分：
          %td
            23
        %tr
          %th.c_auxi
            金币：
          %td
            13个
        %tr
          %th.c_auxi
            威望：
          %td
            23个
        %tr
          %th.c_auxi
            存款：
          %td
            0个金币
        %tr
          %th.c_auxi
            帖子：
          %td
            2
        %tr
          %th.c_auxi
            平均每日发帖：
          %td
            0.01个帖子
        %tr
          %th.c_auxi
            精华：
          %td
            0帖子
        %tr
          %th.c_auxi
            注册日期：
          %td
            2009-01-04
        %tr
          %th.c_auxi
            上次访问：
          %td
            2009-10-28
        %tr
          %th.c_auxi
            最后发表：
          %td
            2009-09-09
        %tr
          %th.c_auxi
            版主：
          %td
            %ul
        %tr
          %th.c_auxi
            在线时间：
          %td
            总计在线时间
            %strong
              235
            小时,本月在线时间
            %strong
              28
            小时
            %img{ :src => "http://i3.dukuai.com/misc/forum/img/star_level3.gif", :alt => "Rank: 5" }
            %img{ :src => "http://i3.dukuai.com/misc/forum/img/star_level1.gif", :alt => "Rank: 5" }
            升级剩余时间
            %strong
              5
            小时
